body {
	z-index: 1;
	/*background-image: url("images/back.png");*/
	background-size:100% 100%;
	background-attachment: fixed;
}
.div1 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: 0.8;
	opacity: .3;
	z-index: 500;
}
.div2 {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	/* width:26.5rem; */
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 500;
}
.div3 {
    width:10px;
	position:relative;
	left:340px;
	text-align: right;
	margin-top: -65px;
	color: #cdcdcd;
}

#form1 {
	display: block;
	/* 缩放 */
    transform: scale(0.8);
	position: relative;
	padding: 2rem;
	width: 26.5rem;
	left:500px;
	top:80px;
	font-size: 1.167rem;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 2001;
}
#form2{
	display:none;
	transform: scale(0.8);
	position: relative;
	left:500px;
	top:75px;
	padding: 2rem;
	width: 26.5rem;
	font-size: 1.167rem;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 2001;
}
#form3{
	display:none;
	transform: scale(0.8);
	position: relative;
	left:500px;
	top:80px;
	padding: 2rem;
	width: 26.5rem;
	font-size: 1.167rem;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 2001;
}
#form4{
	display:none;
	transform: scale(0.8);
	position: relative;
	left:500px;
	top:80px;
	padding: 2rem;
	width: 26.5rem;
	font-size: 1.167rem;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 2001;
}
#img1 {
	/* transform: translate(-50%,-150.6%); */
	transform: scale(0.8);
	position: absolute;
	left: 630px;
	top:30px;
	width: 10rem;
	z-index: 2001;
	margin-top: -224px;
}
input {
	padding: 10px 8px;
	width: 340px;
	border: 1px solid #e9e9e9;
	font: inherit;
	margin-bottom: .8rem;
}
button {
	width: 100%;
	height: 3.334rem;
	color: #fff;
	background-color: #007fff;
	border-radius: 2px;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: .8rem;
	border: none;
	padding: .5rem 1.3rem;
}
a{
	text-decoration: none;
	color: #007fff;
}
#phone{
	border:1px solid #e9e9e9;
	width:340px;
	height:24px;
	padding: 10px 10px;
	margin-bottom:15px;
	display:flex;
}
#phone-leftside{
	/* width:25%; */
	width:85px;
	float: left;
	position:relative;
	display:flex;
}
#phone-leftside::before{
	content: '+';
}
#number,#phone-rightside,.img-down{
	border:none;
	outline:none;
	margin:0;
	padding:0;
}
#number{
	width:35px;
	padding: 5px 0px;
}
.img-down{
	/* background:url(./images/down.png); */
	background-size: 13px 13px;
	background-repeat: no-repeat;
	width:13px;
	height:13px;
	margin-top:5px;
	/* 相对于phone-leftside*/
	position:absolute;
	left:55px;
	top:0px;
}
#phone-rightside{
	/* width:74.5%; */
	width:255px;
	height:24px;
	float:right;
	padding: 0 5px;
}
.phone-area{
	width: 250px;
	height:150px;
	position:absolute;
	overflow:auto;
	top:168px;
	left:32px;
	border:1px solid #e9e9e9;
	display: none;
	background-color: white;
}
.phone-ul{
	list-style:none;
	margin:0;
	padding:10px;
}
.phone-ul li{
	margin:5px;
	display:flex;
}
.phone-ul li:hover{
	width:100%;
	background-color: #dddddd;
}
.span2{
	position:absolute;
	right:10px;
}
.account-login{
	padding: 10px 10px;
}

.h4{
	display: flex;
}
#forgetPsd,.account-login{
	float:left;
	position:relative;
	left:13rem;
}
.account-login{
	position:relative;
	left:10rem;
	top:-10px;
}
#form-code,#new-psd{
	padding:10px 5px;
}